* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  box-sizing: border-box;
}

@keyframes cancelBorderRadius {
  from {
    border-radius: 50% 0 50% 50%;
  }
  to {
    border-radius: 0%;
  }
}
.root {
  width: 100vw;
  height: 100vh;
  background: brown;
  display: flex;
  justify-content: flex-end;
}
.root menu .menu_burger {
  margin-right: 15px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 0;
  z-index: 100;
}
.root menu .menu_burger .menu-btn__burger {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.root menu .menu_burger .menu-btn__burger::before, .root menu .menu_burger .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.root menu .menu_burger .menu-btn__burger::before {
  transform: translateY(-10px);
}
.root menu .menu_burger .menu-btn__burger::after {
  transform: translateY(10px);
}
.root menu .menu_burger.active .menu-btn__burger {
  transform: translateX(-40px);
  background: transparent;
}
.root menu .menu_burger.active .menu-btn__burger::before {
  transform: rotate(45deg) translate(40px, -40px);
}
.root menu .menu_burger.active .menu-btn__burger::after {
  transform: rotate(-45deg) translate(40px, 40px);
}
.root menu nav.menu_nav {
  width: 0vw;
  height: 0vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
}
.root menu nav.menu_nav::before {
  content: "";
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  border-radius: 50% 0 50% 50%;
  background: #02123c;
  width: 500px;
  height: 500px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0);
  transform-origin: top right;
}
.root menu nav.menu_nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
}
.root menu nav.menu_nav ul li {
  list-style-type: none;
  line-height: 50px;
}
.root menu nav.menu_nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.root menu nav.menu_nav ul.menu_right {
  list-style: none;
  width: 70%;
  background: transparent;
  position: relative;
  z-index: 200;
}
.root menu nav.menu_nav ul.menu_right li {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.root menu nav.menu_nav ul.menu_right li a {
  font-weight: 500;
  opacity: 0.6;
}
.root menu nav.menu_nav ul.menu_right li a:hover {
  opacity: 1;
  border-left: 4px solid #51c8ff;
  padding-left: 15px;
}
.root menu nav.menu_nav ul.menu_right li.menu_right-title {
  font-size: 1.9rem;
  font-weight: 700;
  color: #51c8ff;
  margin-bottom: 25px;
  margin-top: 200px;
  transition: all 1s ease-in-out;
}
.root menu nav.menu_nav ul.menu_left {
  width: 30%;
  padding: 0;
  position: relative;
  overflow: visible;
  z-index: 200;
}
.root menu nav.menu_nav ul.menu_left li {
  line-height: 60px;
  padding-left: 70px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 201;
}
.root menu nav.menu_nav ul.menu_left li a {
  font-size: 2rem;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.root menu nav.menu_nav ul.menu_left li a:hover {
  opacity: 1;
}
.root menu nav.menu_nav ul.menu_left li a:hover::after {
  width: 35px;
}
.root menu nav.menu_nav ul.menu_left li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 0px;
  height: 3px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}
.root menu nav.menu_nav ul.menu_left li.menu_left-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 25px;
  text-transform: uppercase;
  position: relative;
  margin-top: 200px;
  transition: all 1s ease-in-out;
}
.root menu nav.menu_nav ul.menu_left li.menu_left-title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 70px;
  width: 35px;
  height: 3px;
  background: #fff;
}
.root menu nav.menu_nav ul.menu_left .menu_left_befor {
  position: absolute;
  z-index: 100;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  background: #082873;
  transition: all 0.2s ease-in-out;
  transform-origin: right;
}
.root menu nav.menu_nav.active {
  width: 100vw;
  height: 100vh;
}
.root menu nav.menu_nav.active::before {
  opacity: 1;
  transform: scale(6);
}

/*# sourceMappingURL=style.css.map */
