*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	box-sizing: border-box;
}
@keyframes cancelBorderRadius {
	from {
		border-radius: 50% 0 50% 50%;
	}
	to{
		border-radius: 0%;
	}
}
.root{
	width: 100vw;
	height: 100vh;
	background: brown;
	display: flex;
	justify-content: flex-end;
	// padding: 0 15px;
	menu{
		.menu_burger{
			margin-right: 15px;
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			cursor: pointer;
			right: 0;
			z-index: 100;
			.menu-btn__burger{
				position: relative;
				width: 30px;
				height: 3px;
				background-color: #fff;
				border-radius: 50px;
				box-shadow: 0 2px 5px rgba(255,101,47,.2);
				transition: all .5s ease-in-out;
				&::before,
				&::after{
					content: '';
					position: absolute;
					width: 30px;
					height: 3px;
					background-color: #fff;
					border-radius: 10px;
					box-shadow: 0 2px 5px rgba(255,101,47,.2);
					transition: all .5s ease-in-out;
				}
				&::before{
					transform: translateY(-10px);
				}
				&::after{
					transform: translateY(10px);
				}
			}
			&.active{
				.menu-btn__burger {
					transform: translateX(-40px);
					background: transparent;
					&::before{
						transform: rotate(45deg) translate(40px, -40px);
					}
					&::after{
						transform: rotate(-45deg) translate(40px, 40px);
					}
				}
			}
		}
		nav.menu_nav{
			width: 0vw;
			height: 0vh;
			border-radius: 50% 0 50% 50%;
			overflow: hidden;
			background-color: #007aff;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 10;
			display: flex;
			transition: all 0.3s ease-in-out; 
			ul{
				list-style: none;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-left: 70px;
				li{
					list-style-type: none;
					line-height: 50px;
					a{
						text-decoration: none;
						color: #fff;
						font-size: 1.5rem;
						font-weight: 600;
						transition: all .2s ease-in-out;
					}
				}
			}
			ul.menu_right{
				list-style: none;
				width: 70%;
				background: transparent;
				position: relative;
				z-index: 200;
				li{
					a{
						font-weight: 500;
						opacity: 0.6;
						&:hover{
							opacity: 1;
							border-left: 4px solid #51c8ff;
							padding-left: 15px;
						}

					}
				}
				li.menu_right-title{
					font-size: 1.9rem;
					font-weight: 700;
					color: #51c8ff;
					margin-bottom: 25px;
				}
			}
			ul.menu_left{
				width: 30%;
				background: #082873;
				position: relative;
				z-index: 200;
				li{
					line-height: 60px;
					a{
						font-size: 2rem;
						position: relative;
						transition: all 0.2s ease-in-out;
						opacity: 0.7;
						&:hover{
							opacity: 1;
							&::after{
								width: 35px;
							}
						}
						&::after{
							content: '';
							position: absolute;
							bottom: -10px;
							left: 0;
							width: 0px;
							height: 3px;
							background: #fff;
							transition: all 0.2s ease-in-out;
						}
					}
				}
				li.menu_left-title{
					font-size: 2.5rem;
					font-weight: 800;
					color: #fff;
					margin-bottom: 25px;
					text-transform: uppercase;
					position: relative;
					&::after{
						content: '';
						position: absolute;
						bottom: -8px;
						left: 0;
						width: 35px;
						height: 3px;
						background: #fff;
						transition: all 0.2s ease-in-out;
					}
				}
			}
			&.active{
				&::before{
					content: '';
					position: absolute;
					z-index: 9;
					top: 0;
					right: 0;
					border-radius: 50%;
					// background: red;
					background: #02123c;
					width: 500px;
					height: 500px;
				}
				width: 100vw;
				height: 100vh;
				border-radius: 0;
				animation-iteration-count: 1;
				animation-delay: 3s;
				animation-name: cancelBorderRadius;
			}
		}
	}
}